In [98]:
# Задача 1
word = "tes1100t"
calc_len = len(word) % 2
if calc_len == 1:
    from_index = int((len(word)-1)/2)
    to_index = int((len(word)-1)/2+1)
    print(word[from_index:to_index])
else:
    cut_1 = int(len(word)/ 2-1)
    cut_2 = int(len(word)/ 2 +1)
    print(word[cut_1:cut_2])

11

In [ ]:
# Задание 2 
x_number = int(input())
sumx = 1
while x_number:
    if x_number != 0:
        x_number = int(input())
    sumx += x_number
    #break
    print(sumx)

12

In [23]:
# Задание 3
boys = ["Peter", "Alex", "John", "Arthur", "Richard"]
girls = ["Kate", "Liza", "Alex", "Emma", "Trisha"]
pairs = list(zip(sorted(boys),sorted(girls)))
if len(boys) == len(girls):
    for new_pairs in pairs:
        print(new_pairs)
else: 
    print("кто-то может остаться без пары!")

('Alex', 'Alex')
('Arthur', 'Emma')
('John', 'Kate')
('Peter', 'Liza')
('Richard', 'Trisha')

In [89]:
# Задание 4 




countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]


sum_temp = 0
average_temp = 0
print("Средняя температура в странах:")
for temp_intial in countries_temperature:
    #print(temp_intial[0])
    sum_temp = sum(temp_intial[1])
    average_temp = round((sum_temp / len(temp_intial[1]) - 32) * 5 / 9,1)
    print(f"{temp_intial[0]} - {average_temp} C")
    

    


    
    
      
       #print((temp_calc - 32) * 5 / 9)

Средняя температура в странах:
Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C

In [55]:
temp_intial

[50, 50, 53.6, 57.2, 55.4, 55.4]

In [48]:
api_response = [
    ['2017-12-26', '777', 185],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 1899],
]

sum([element[2] for element in api_response if element[1] == '777'])

1068

In [101]:
# Задание 5 (нахождение уникальных значений, убирать дубли)
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

views = 0
users = []

for string_split in stream:
    string_split_result = string_split.split(",")
    print(string_split_result)
    views += int(string_split_result[2])
#print(views)
    if string_split_result[1] not in users:
        users.append(string_split_result[1])
len(users)

['2018-01-01', 'user1', '3']
['2018-01-07', 'user1', '4']
['2018-03-29', 'user1', '1']
['2018-04-04', 'user1', '13']
['2018-01-05', 'user2', '7']
['2018-06-14', 'user3', '4']
['2018-07-02', 'user3', '10']
['2018-03-21', 'user4', '19']
['2018-03-22', 'user4', '4']
['2018-04-22', 'user4', '8']
['2018-05-03', 'user4', '9']
['2018-05-11', 'user4', '11']

4

# Практика. Нужно найти слова, в которых больше 4 или равно букв

In [2]:
text_1  = "Pyhton - высокоуровневый язык программирования, ориентированный, способный на нас и меня "

In [3]:
n_1 = 4

In [18]:
split_text = text_1.replace(",","").replace("-","").split()
#print(split_text)
for item in split_text:
    if len(item) >= n_1:
        print(item)

Pyhton
высокоуровневый
язык
программирования
ориентированный
способный
меня

In [16]:

for item_2 in text_1:
    if len(item_2) >= n_1:
        print(item_2)

In [ ]:
# Практика. Нарисовать пирамиду ниже
1
22
333
4444
55555
666666
7777777
88888888
999999999

In [26]:
for i in range(10): # потому что не включая
    for k in range(i):
        print(i, end = "")
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [30]:
for i_2 in range (9):
    print(str(i_2)*i_2) #Умножаем строку на саму себя

1
22
333
4444
55555
666666
7777777
88888888

In [32]:
# Найти суммы элементов по главной диагонали в матрице, а потом по обратной

In [2]:
data_1 = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

In [6]:
len(data_1)

4

In [11]:
sum_x_1 = 0
i_4 = 0
for row in data_1:
    sum_x_1 += row[i_4]
    i_4 += 1
sum_x_1

103

# Вывести построчно фамилии с указанием профессии 
IT:

Гейтс
Джобс
Возняк

Физика:
Эйнштейн
Фейман

In [13]:
profession = ["IT", "Физика"]
person = [["Гейтс", "Джобс", "Возняк"], ["Эйнштейн", "Фейман"]]

In [26]:
o = zip(profession,person)
print(list(o))

[('IT', ['Гейтс', 'Джобс', 'Возняк']), ('Физика', ['Эйнштейн', 'Фейман'])]

In [33]:
for k, m in zip(profession,person):
    print(k + ":")
    for z in m:
        print(z)
    print() # ставим за пределами, чтобы разделить, сделать пробел

IT:
Гейтс
Джобс
Возняк

Физика:
Эйнштейн
Фейман